[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
pytest = "*"
pytest-cov = "*"
pyyaml = "*"

[packages]
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"
numpy = "*"
gunicorn = "*"
pyyaml = "*"
firebase-admin = "*"
jsonpickle = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
requests = "*"
pyarrow = "2.0.0"

[requires]
python_version = "3.8"
