[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
pytest = "*"
pytest-cov = "*"
pyyaml = "*"
pre-commit = "*"
webdriver-manager = "*"
retry = "*"
timeout-decorator = "*"

[packages]
dash = "*"
dash-extensions = "*"
pandas = "*"
dash-bootstrap-components = "*"
defusedxml = "*"
numpy = "*"
gunicorn = "*"
pyyaml = "*"
firebase-admin = "*"
jsonpickle = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
requests = "*"
pyarrow = "2.0.0"
dash-daq = "*"
umap-learn = "*"
statsmodels = "*"
redis = "*"

[requires]
python_version = "3.8"
