<!doctype>
<html>
    <head>
        <link href="https://unpkg.com/normalize.css@^7.0.0" rel="stylesheet" />
        <link href="https://unpkg.com/@blueprintjs/icons@^3.4.0/lib/css/blueprint-icons.css" rel="stylesheet" />
        <link href="https://unpkg.com/@blueprintjs/core@^3.10.0/lib/css/blueprint.css" rel="stylesheet" />
        <title>my-dash-component</title>
    </head>
    <body>
        <div id='root'></div>
        <script src="/hierarchy_tree/output.js"></script>
    </body>
</html>
